version: '3.8'

services:
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sql_dwh_db
    ports:
      - "8080:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql

volumes:
  postgres_data: